@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  src:  url('../fonts/mulish-v3-latin-300.woff2') format('woff2'),
       url('../fonts/mulish-v3-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v3-latin-regular.woff2') format('woff2'),
       url('../fonts/mulish-v3-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v3-latin-600.woff2') format('woff2'),
       url('../fonts/mulish-v3-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/mulish-v3-latin-700.woff2') format('woff2'),
       url('../fonts/mulish-v3-latin-700.woff') format('woff');
}

html {
  box-sizing: border-box;
  font-family: 'Mulish', 'Arial', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}
.container {
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* header qismi */

.header {
  display: flex;
  padding-top: 56px;
  align-items: center;
  padding-bottom: 56px;
  justify-content: space-between;
}

.header_ul {
  display: inline-flex;
  list-style-type: none;
}

.header_li {
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  margin-right: 40px;
  font-weight: 400;
  display: inline-block;
}

.header_img {
  width: 160px;
  height: 41px;
}

.header_link {
  opacity: 0.5;
  color: #7D7987;
  font-weight: 400;
  text-decoration: none;
}

.header_link:hover {
  opacity: 2;
  color: #0c08f5;
  background-color: #ffffff;
}

.header_li_bold {
  opacity: 1;
  font-weight: 700;
  color: #000000;
}

/* end of header */

/* section qismi */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.section_primary {
  width: 445px;
  justify-content: space-between;

}

.primary_h1 {
  font-size: 38px;
  font-size: 48px;
  color: #000000;
  line-height: 56px;
  font-weight: 700;
  font-style: normal;
}

.paragraph {
  font-size: 21px;
  margin-top: 20px;
  font-weight: 300;
  color: #7D7987;
  line-height: 32px;
  font-style: normal;
}

.hero-image {
  width: 693px;
  height: 598px;

}

.btn {
  width: 200px;
  height: 56px;
  display: flex;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 0px;
  color: #ffffff;
  align-items: center;
  border-radius: 55px;
  text-decoration: none;
  justify-content: center;
  border: 1px solid #4a7dec;
  background-color: #458FF6;
}

.btn:hover {
  color: #3542f5;
  background-color: #ffffff;
}

.new {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.new_text {
  width: 957px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  object-fit: cover;
  margin-bottom: 80px;
}

.span {
  width: 56px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 33px;
  justify-content: center;
  background-color: #080808;
}

.new_text_h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 150px;
  margin-bottom: 26px;

}

.new_text_p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  text-align: center;
  font-style: normal;
}

.menu {
  padding-bottom: 100px;
}

.new-menu {
  width: 1120px;
  height: 745px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.new_menu_ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 69px;
  list-style-type: none;
  justify-content: space-between;

}
.item {
  width: 350px;
  flex-wrap: wrap;
  font-size: 30px;
  padding: 45px 35px;
  border-radius: 20px;
  margin-bottom: 37px;
  background-color: #ffffff;
  justify-content: space-between;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}


.items_p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
  color: #7D7987;
  line-height: 28px;
  font-style: normal;

}

.items {
  width: 92px;
  height: 90px;
  margin-top: 40px;
}

.items_h3 {
  font-size: 24px;
  margin-top: 15px;
  line-height: 56px;
  color: #000000;
  font-weight: 700;
  font-style: normal;
}

.btnn {
  width: 200px;
  height: 56px;
  display: flex;
  font-size: 18px;
  color: #240cf8;
  margin-left: auto;
  margin-right: auto;
  border-radius: 55px;
  align-items: center;
  margin-bottom: 202px;
  text-decoration: none;
  justify-content: center;
  border: 1px solid #4a7dec;
  background-color: #fdfdff;
}

.btnn:hover {
  color: #fdfdff;
  background-color: rgb(75, 105, 241);
}


.main {
  width: 1273px;
  padding-top: 100px;
  display: inline-flex;
  padding-bottom: 100px;
  justify-content: space-between;
}


.img_logo {
  width: 650px;
  height: 598px;
  padding-left: 50px;
  margin-right: 60px;
}


.text {
  width: 400px;
  display: block;
  margin-left: 95px;
}

.text_h2 {
  font-size: 36px;
  margin-top: 70px;
  line-height: 56px;
  color: #000000;
  font-weight: 700;
  font-style: normal;
}

.text_p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  font-style: normal;
  margin-bottom: 55px;
}

.chiziqa {
  width: 56px;
  height: 3px;
  border-radius: 6px;
  margin-top: 26px;
  margin-bottom: 31px;
  background-color: #161616;
}

.btna, .btnb {
  width: 200px;
  height: 56px;
  display: flex;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 0px;
  color: #240cf8;
  border-radius: 55px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  background-color: #fdfdff;
  border: 1px solid #4a7dec;

}

.vektor {
  color: #240cf8;
  padding-left: 20px;
}

.user {
  width: 1220px;
  height: 450px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  margin-bottom: 47px;
  justify-content: center;
  background-color: #1eabf7;
}

.user_h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  padding-top: 64px;
  color: #FFFFFF;
  text-align: center;
  font-style: normal;
  padding-bottom: 25px;
}

.widget {
  width: 56px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 77px;
  justify-content: center;
  background-color: #ffffff;
}

.widget_content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 0px;
  justify-content: center;

}

.blockquote {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  list-style-type: none;
  justify-content: space-between;
}

.entry_content {
  width: 200px;
  margin-left: 25px;
  justify-content: center;
}


.entry_h6 {
  font-size: 22px;
  margin-top: 25px;
  font-weight: 700;
  line-height: 48px;
  color: #FFFFFF;
  font-style: normal;
}

.entry_img {
  margin-left: 50px;
}

.entry_p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.85);
}


.author {
  width: 340px;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  margin-left: 160px;
  color: rgba(255, 255, 255, 0.9);
}

.control {
  text-align: center;
  margin-bottom: 222px;
  justify-content: space-between;
}

.hidden_ul {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  list-style-type: none;
}

.card {
  opacity: 0.5;
}

.hidden {

  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 18px;
  background-color: #5B9BF3;
}


.hidden_img {
  margin-left: 91px;
  margin-right: 91px;
}


.royhat {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}


.reklange_h2 {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  line-height: 56px;
  text-align: center;
  font-style: normal;
  margin-bottom: 26px;
}

.chiziqq {
  width: 56px;
  height: 3px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  background-color: #080808;
}

.rektanle_ul {
  display: flex;
  margin-bottom: 72px;
  list-style-type: none;
  justify-content: space-between;
}

.rektanle_li {
  width: 350px;
  height: 512px;
  border-radius: 22px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.reklange_img {
  width: 350px;
  height: 246px;
  border-radius: 22px;
  padding-bottom: 21px;
}

.reklange_h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  line-height: 32px;
  font-style: normal;
  padding: 0 66px 16px 33px;

}

.reklange_p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
  font-style: normal;
  padding: 0 51px 25px 33px;

}

.reklange_link {
  font-weight: 600;
  font-size: 17px;
  color: #4089ED;
  line-height: 28px;
  font-style: normal;
  text-decoration: none;
  padding: 0 51px 35px 33px;


}

.link_image {
  width: 35px;
  height: 12px;
  color: #4089ED;
  padding-left: 15px;
}

.btnab {
  width: 200px;
  height: 56px;
  display: flex;
  font-size: 18px;
  color: #240cf8;
  margin-left: auto;
  margin-right: auto;
  border-radius: 55px;
  align-items: center;
  margin-bottom: 202px;
  text-decoration: none;
  justify-content: center;
  border: 1px solid #4a7dec;
  background-color: #fdfdff;
}
/* end of section */
/* footer qismi */
.footer {
  max-width: 1600px;
  height: 432px;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.ohiri {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 109px;
  justify-content: center;
}

.qism {
  margin: 0;
  padding: 0;
  width: 450px;
  padding-right: 100px;
  justify-content: space-between;
}


.qism_p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 17px;
  line-height: 28px;
  color: #FFFFFF;
  font-style: normal;
  margin-bottom: 35px;
}

.qism_adres {
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 28px;
  font-style: normal;
}


.qism1 {
  margin: 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  justify-content: center;
}

.qism1_h4 {
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
  font-weight: bold;
  font-style: normal;
}

.qism1_li {
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  color: #FFFFFF;
  font-style: normal;
}




.qism2 {
  margin: 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
}



.qism3 {
  margin: 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
}


.qism_link {
  color: #ffffff;
  text-decoration: none;
}
/* end of footer */

